<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You want to know More about Mallikarjuna</h1>
    <h1>View his chrome History</h1>
    <h1>View Instagram and shapchat friends lists</h1>
  </body>
</html>
