<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You want to know More about Mallikarjuna</h1>
    <p>View his chrome History</p>
    <p>View Instagram and shapchat friends list</p>
  </body>
</html>
